
<%= form_for @item, html: { multipart: true }, class: 'form-horizontal' do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-warning alert-dismissible" role="alert">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :link %><br />
    <%= f.text_field :link, class: 'form-control' %>
  </div>
  <%= f.file_field :image %>
  <% if @item.image.exists? %>
    <%= link_to image_tag(@item.image.url(:medium)), @item.image.url %>
  <% end %>
  <div class="actions">
    <%= f.submit class: 'btn btn-default btn-primary' %>
  </div>
<% end %>
